:root {
  --primary-bg: linear-gradient(to bottom, #007b5e, #004d40);
  --primary-color: #007b5e;
  --secondary-bg: white;
  --text-color: #333;
}

body {
  margin: 0;
  background: var(--primary-bg);
  font-family: 'Arial', sans-serif;
  color: var(--text-color);
}
